.hours-day-col {
  padding-right: 35px;
}

.location-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.faq-page-title {
  float: left;
  width: max-content;
}

.faq-page-search {
  float: right;
}

.search-block {
  width: 400px;
  display: inline-flex;
}

.search-button {
  margin-left: 10px;
}

.progress-bar-group {
  position: relative;
}

.progress-bar {
  background-color:  #0CBC00;
}

.progress-bar-number {
  width: 60px;
  position: absolute;
  top: -25px;
}

.progress-number-2 {
  left: 47.5%;
}

.progress-number-3 {
  right: 0%;
}

.pickup-dropoff-text {
  width: 90px;
}

.pickup-dropoff-location {
  width: 300px;
  margin: 0px 10px;
}

.pickup-dropoff-date {
  width: 200px;
  margin: 0px 10px;
}

.pickup-dropoff-time {
  width: 120px;
  margin: 0px 10px;
}

.pickup-dropoff-section {
  display: inline-flex; 
  width: 100%; 
  justify-content: center;
  margin-top: 40px;
}

.back-button {
  margin-top: 50px;
  background-color: #cbcbcb;
  color: black;
  border-width: 2px;
  float: left;
}

.green-button {
  margin-top: 50px;
  background-color: #0cbc00;
  color: black;
  border-color: black;
  border-width: 2px;
  float: right;
}

.card-img-top {
  padding: 20px;
}

.car-selection-section {
  justify-content: center;
}

#carTypeRadio {
  display: none;
}

#cardDiv:hover {
  border-color: #0cbc00;
  border-width: 2px;
}

input[type="radio"]:checked+div#cardDiv { 
  background-color: #0dbc0064;
}

.personal-info-section {
  justify-content: center;
  display: flex;
}

.car-details {
  font-size: 15px;
  margin-bottom: 2px;
  margin-left: 10px;
}